html{
    scroll-behavior: smooth;
}
/* 3 */
body{
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    line-height: 1;
}
/* 6 */
header{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav ul{
    list-style-type: none;
  }

nav li{
    display: inline;
    padding-right: 10px;
}

nav{
    padding: 10px;
    background-color: #FFFFFF;
    text-align: right;
}

nav a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-weight: 950;
}

.nav_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    position: relative;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 15px;
}

.profile-image{
    background-color: #a1caf1;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}

.profile-image > img{
    border-radius: 50%;
    margin: auto;
    padding: 20px;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.profile-text{
    font-size: 20px;
    color: #000000;
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    text-align: left;
    padding-left: 40px;
}

h1{
    font-size: 30px;
    color: #9258D5;
}

.fa{
    white-space: nowrap;
    padding: 5px;
    font-size: 30px;
    width: 100px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    color:#000000;
}


/* resume.html */
.resume-container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 15px;
    grid-column: 2 / span 1;
}

.resume{
    grid-column: 2 / span 1;
    padding-top: 20px;
}

h2{
    font-size: 20px;
}

.athletics-image{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 100px;
    padding: 0px 5px;
}

.athletics{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

footer{
  /* position: absolute;
  width: 100%;
  text-align:left;

  left: 0;
  bottom: 0;
  position: fixed; */
  padding: 10px;
}

.research-image{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    max-width: 100px;
    padding: 0px 5px;
}

.research{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.ps-image{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    max-width: 100px;
    padding: 0px 5px;
}

.ps{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 25%;
    max-width: 50%;
    padding: 5px 5px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.images h1{
    padding-left: 10px;
}

.label{
    display: none;
}

.contact-info{
    padding-left: 30px;
    font-size:25px;
    padding-bottom: 50px;
}

.contact-info p{
    padding-top: 50px;
    padding-right: 20px;
}



@keyframes logo_size{
    from {
      width: 50px;
      opacity: 0;
    }
    to {
      width: 425px; 
      opacity: 1;
    }
}

@media screen and (min-width: 850px){
    .profile_image{
        height: 100%;
    }
    .profile-image img{
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
        max-width: 200px;
    }

    .profile-text{
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
        padding-right: 100px;
        padding-top: 100px;
    }

    .athletics-image, .research-image, .ps-image{
        min-width: 200px;
        padding-left: 50px;
    }

    .column {
        flex: 50%;
        max-width: 50%;
      }
}

@media screen and (prefers-reduced-motion: reduce) {
    #logo{
        animation-name: logo_size;
        animation-duration: 0s;
        animation-iteration-count: 0;
    }
}

@media print {
    body{
         background-image: none;
    }

    nav{
        width: 100%;
    }
    .nav_links{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 250px;
    }

    .gallery, #gallery{
        display: none;
    }

    .pricing{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .card li:nth-child(odd):before{
        content: "👍";
    }
    
    .card li:nth-child(even):after{
        content: "👍";
    }    

}
